<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Console Appender  -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %F %L [%M] - %m%n"/>
        </layout>
    </appender>

    <!-- the following appender writes to NULL  -->
    <appender name="null" class="org.apache.log4j.varia.NullAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F [%M]:%L) - %m %n"/>
        </layout>
    </appender>

    <category name="xquery.profiling" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="null"/>
    </category>

    <category name="org.exist" additivity="false">
        <priority value="warn"/>
        <appender-ref ref="null"/>
    </category>

    <category name="httpclient" additivity="false">
        <priority value="info"/>
        <appender-ref ref="null"/>
    </category>

    <category name="org.apache" additivity="false">
        <priority value="info"/>
        <appender-ref ref="null"/>
    </category>

    <category name="org.xbrlapi.cache" additivity="false">
        <priority value="info"/>
        <appender-ref ref="null"/>
    </category>

    <category name="org.xbrlapi.sax.EntityResolverImpl" additivity="false">
        <priority value="info"/>
        <appender-ref ref="null"/>
    </category>

    <category name="org.xbrlapi.sax.identifiers" additivity="false">
        <priority value="info"/>
        <appender-ref ref="console"/>
    </category>


    <category name="org.xbrlapi" additivity="false">
        <priority value="info"/>
        <appender-ref ref="console"/>
    </category>

    <root>
	   <priority value="info"/>
     <appender-ref ref="console"/>
    </root>
    
</log4j:configuration>
